@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  min-height: 100vh;
  overflow-x: hidden;
}

.text-stroke {
  -webkit-text-stroke: 2px black;
}

.neo-border {
  border: 4px solid black;
}

.neo-card {
  border: 4px solid black;
  background-color: white;
  padding: 1.5rem;
  transition: all 0.3s;
}

.neo-card:hover {
  transform: translateY(-0.5rem);
  box-shadow: 12px 12px 0px 0px #000000;
}

.shadow-brutal {
  box-shadow: 8px 8px 0px 0px #000000;
}

.shadow-brutal-sm {
  box-shadow: 4px 4px 0px 0px #000000;
}

.shadow-brutal-lg {
  box-shadow: 12px 12px 0px 0px #000000;
}
